.base-form-field {
	display: flex;
	align-items: center;
	position: relative;
	transition: color 0.3s ease;
	color: #fff;
	// border-bottom: 1px solid currentColor;
	padding: 0 1rem;
	margin-bottom: 10px;
	opacity: 0.7;
	transition: opacity 0.3s ease, background 0.3s ease;
	&._required {
		&:after {
			content: '*';
			color: #fff;
			position: absolute;
			font-size: 1.125rem;
			line-height: 100%;
			top: 0.5rem;
			right: 0.5rem;
		}
	}
	&._focus {
		opacity: 1;
	}
	&._has-error,
	&._invalid {
		background: #f13f27;
	}
	&._valid {
		opacity: 1;
		&:after {
			// content: "✓";
		}
	}
	&__icon {
		width: var(--size-1-5);
		height: var(--size-1-5);
		margin-right: 0.75rem;
	}
	[name] {
		background: none;
		border: none;
		outline: none;
		color: currentColor;
		font-size: max(16px, var(--size-1-125));
		line-height: 100%;
		width: 100%;
		&::placeholder {
			opacity: 1;
			color: currentColor;
		}
	}
	select {
		cursor: pointer;
	}
}
