.content-block {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;

	--main-image-side-padding: 3.125rem;
	--main-side-padding: 0;
	--main-vertical-padding: 4.125rem;
	@include smaller-than('mobile') {
		--main-image-side-padding: 1rem;
		--main-side-padding: 1rem;
		--main-vertical-padding: 0;
	}
	&._right-image &__main {
		padding: var(--main-vertical-padding) var(--main-image-side-padding)
			var(--main-vertical-padding) var(--main-side-padding);
	}
	&._left-image &__main {
		padding: var(--main-vertical-padding) var(--main-side-padding)
			var(--main-vertical-padding) var(--main-image-side-padding);
	}

	&._no-image {
		grid-template-columns: 1fr;
		.content-block__main {
			padding: 0;
			text-align: center;
		}
		.content-block__image-container {
			display: none;
		}
	}

	// Image container
	&__image-container {
		position: relative;
		overflow: hidden;
		align-self: stretch;
		border-radius: 1rem;

		@include smaller-than('mobile') {
			height: 15rem;
		}
	}
	&._left-image &__image-container {
		@include larger-than('mobile') {
			order: -1;
		}
	}

	// Image
	&__image {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
