@import './content-block-typography-wrapper.mixin.scss';

[data-type='carbon-fields/content-block'] {
	background-color: var(--color-semi-grey);
	border-radius: 4px;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	border: none;
	padding: 2px;
	overflow: visible;
	max-width: min(
		calc(100% - var(--container-padding) * 2),
		var(--container-plain-max-width)
	);

	--main-image-side-padding: 3.125rem;
	--main-side-padding: 0;
	--main-vertical-padding: 4.125rem;
	&._right-image .cf-block__inner-blocks {
		padding: var(--main-vertical-padding) var(--main-image-side-padding)
			var(--main-vertical-padding) var(--main-side-padding);
		order: -1;
	}
	&._left-image .cf-block__inner-blocks {
		padding: var(--main-vertical-padding) var(--main-side-padding)
			var(--main-vertical-padding) var(--main-image-side-padding);
		order: 2;
	}
	&:not(._no-image) .cf-block__fields {
		border: 2px solid #ccc !important;
		border-radius: 4px;
	}
	&._no-image {
		display: block;
		.cf-block__inner-blocks {
			text-align: center;
		}
	}
	.cf-block__preview {
		grid-column: span 2;
	}
	.block-editor-block-list__layout {
		@include content-block-typography-wrapper;
	}
	.cf-block__fields {
		display: block;
		border-bottom: 0 !important;
		margin-bottom: 0 !important;
	}
	.cf-media-gallery__item.cf-media-gallery__item--image {
		flex-basis: 33.333% !important;
	}
}
