@mixin content-block-typography-wrapper {
	font-size: var(--size-1-125);
	line-height: calc(21.28px / 16px);

	& > *:not(:first-child) {
		margin-top: 1em;
	}

	h2:not([class]),
	h2[class*='wp-block-'] {
		font-family: Lora;
		font-weight: 500;
		font-size: var(--size-3);
		line-height: 1.12;
		letter-spacing: 0;
		color: var(--black);
	}

	h3:not([class]),
	h3[class*='wp-block-'] {
		font-family: Lora;
		font-weight: 500;
		font-size: var(--size-2-5);
		line-height: 1.12;
		letter-spacing: 0%;

		color: var(--black);
	}

	h4:not([class]),
	h4[class*='wp-block-'] {
		font-family: Lora;
		font-weight: 500;
		font-size: var(--size-1-5);
		line-height: 1.12;
		letter-spacing: 0%;

		color: var(--primary);
	}

	h5:not([class]),
	h5[class*='wp-block-'] {
		font-weight: 600;
		font-size: var(--size-1-125);
		line-height: 1.44;
		letter-spacing: 0%;

		color: var(--black);
	}

	p:not([class]),
	p[class*='wp-block-'] {
		font-weight: 400;
		font-size: var(--size-1-125);
		line-height: 1.44;
		letter-spacing: 0%;

		color: #81878f;
		strong {
			font-weight: 600;
			color: var(--black);
		}
	}

	a:not([class]),
	a[class*='wp-block-'] {
		font-size: 1.25rem;
		line-height: 1.32;
		letter-spacing: 0%;
		text-decoration: none;

		transition: color 0.3s ease;
		color: var(--primary);

		&:hover {
			text-decoration: underline;
		}
	}

	// Unordered list styles
	ul:not([class]),
	ul[class*='wp-block-'] {
		padding-right: var(--size-4);
		@include smaller-than('mobile') {
			padding-right: 0;
		}

		font-weight: 500;
		line-height: 1.6;
		letter-spacing: 0.01em;
		color: var(--total-black);

		li {
			padding-left: 1.125rem;
			list-style-type: none;
			position: relative;
			&:not(:last-child) {
				margin-bottom: 0.625em;
			}
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: max(6px, 0.375rem);
				height: max(6px, 0.375rem);
				border-radius: 50%;
				background-color: var(--primary);
			}
		}

		@include smaller-than('mobile') {
			padding: 1rem 1rem 1rem 1.75rem;
			font-size: 1rem;
		}
	}

	// Ordered list styles
	ol:not([class]),
	ol[class*='wp-block-'] {
		padding-right: var(--size-4);
		@include smaller-than('mobile') {
			padding-right: 0;
		}
		li {
			padding-left: 2.625rem;
			position: relative;
			counter-increment: item;
			&:not(:last-child) {
				margin-bottom: 1em;
			}
			&::marker {
				display: none;
			}

			&:before {
				position: absolute;
				top: 0;
				left: 0;
				width: 2rem;
				height: 2rem;

				content: counter(item) ' ';
				display: flex;
				justify-content: center;
				align-items: center;

				border: var(--size-1px) solid var(--primary);
				border-radius: 50%;
				font-family: Lora;
				font-size: 1.375rem;
				line-height: 0.5;
				letter-spacing: 0;
				color: var(--primary);
				@include smaller-than('mobile') {
					font-size: 1rem;
					width: 1.75rem;
					height: 1.75rem;
				}
			}
		}
	}

	// Shared list item styles for both ul and ol
	ul:not([class]),
	ul[class*='wp-block-'],
	ol:not([class]),
	ol[class*='wp-block-'] {
		li {
			font-family: Manrope;
			font-weight: 400;
			font-size: var(--size-1-125);
			line-height: 1.44;
			letter-spacing: 0;
			color: #404855;
		}
	}
}
