.form-field {
	--padding-vertical: 1rem;
	--padding-horizontal: 1.75rem;

	// --form-field-height
	// --form-field-background-color
	// --form-field-border-color
	// --form-field-hover-border-color
	// --form-field-hover-background-color
	// --form-field-text-color
	// --form-field-focus-border-color
	// --form-field-focus-background-color
	// --form-field-error-border-color
	// --form-field-required-symbol-color
	// --form-field-focus-required-symbol-color
	// --form-field-placeholder-color
	--default-field-height: 3.375rem;

	position: relative;
	display: flex;

	svg {
		width: 1.5rem;
		height: 1.5rem;
		position: absolute;
		top: 50%;
		right: 0.75rem;
		transform: translateY(-50%);
		pointer-events: none;
		transition: transform 0.3s ease;
	}
	&:focus {
		svg {
			transform: translateY(-50%) rotate(180deg);
		}
	}
	&:not(:has([type='checkbox'], [type='radio'])) {
		background: var(--form-field-background-color, #f9f9f9);
		border: max(1px, 0.0625rem) solid
			var(--form-field-border-color, #f9f9f9);
		transition: opacity 0.3s ease, background 0.3s ease, color 0.3s ease,
			border-color 0.3s ease;
		&:hover {
			border-color: var(--form-field-hover-border-color, #cccccc);
			background: var(--form-field-hover-background-color, #ffffff);
		}

		&:not(._valid) select {
			color: var(--form-field-text-color, #636a75);
			text-transform: uppercase;
		}
		&._required {
			&::after,
			&::before {
				position: absolute;
				top: 0.375rem;
				right: 0.375rem;
				transition: opacity 0.3s ease;
			}
			&::after {
				content: '*';
				font-weight: 600;
				font-size: 1.0625rem;
				line-height: 132%;
				opacity: 1;
				color: var(--form-field-required-symbol-color, #636a75);
			}
			&::before {
				content: '';
				width: 0.9375rem;
				height: 0.9375rem;
				background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 5.5L6.5 9L13.5 2' stroke='%23BD3D40' stroke-width='2'/%3E%3Cpath d='M3 5.5L6.5 9L13.5 2' stroke='%23EB562E' stroke-width='2'/%3E%3C/svg%3E%0A");
				background-size: contain;
				background-position: center;
				opacity: 0;
			}
		}
		&._required._valid {
			&::before {
				opacity: 1;
			}
			&::after {
				opacity: 0;
			}
		}
		&:focus-within {
			border-color: var(--form-field-focus-border-color, #636a75);
			background: var(--form-field-focus-background-color, #ffffff);
			&::after {
				color: var(--form-field-focus-required-symbol-color, #eb562e);
			}
		}
		&._focus {
			background: var(--form-field-focus-background-color, #ffffff);
			border-color: var(--form-field-focus-border-color, #636a75);
		}
		&._has-error {
			border-color: var(--form-field-error-border-color, #eb562e);
		}

		[name] {
			background: none;
			border: none;
			outline: none;
			width: 100%;
			font-weight: 600;
			&::placeholder {
				opacity: 1;
				text-transform: uppercase;
				color: var(--form-field-placeholder-color, #636a75);
			}
		}
	}
	[name] {
		font-size: max(16px, var(--size-17px));
		line-height: 100%;
		color: currentColor;
		width: auto;
	}
	[name]:not([type='checkbox'], [type='radio']) {
		padding: var(--padding-vertical) var(--padding-horizontal);
		width: 100%;
		border: none;
		background: none;
		outline: none;
		min-height: var(--form-field-height, var(--default-field-height));
	}
	select {
		cursor: pointer;
		appearance: none;
		padding: var(--padding-vertical) 2.25rem var(--padding-vertical)
			var(--padding-horizontal);
	}

	&__error-message {
		position: absolute;
		bottom: 0.375rem;
		right: 0.375rem;
		font-weight: 700;
		font-size: 0.6875rem;
		line-height: 132%;
		text-transform: uppercase;
		pointer-events: none;
		color: var(--form-field-error-border-color, #eb562e);
	}
}
