:root {
	--header-inner-height: 4.5rem;
	--header-height: calc(
		var(--header-inner-height) + var(--preheader-height, 0rem) +
			var(--wp-admin--admin-bar--height, 0rem)
	);
}
@include tablet {
	:root {
		--header-inner-height: 4rem;
		--header-height: calc(
			var(--header-inner-height) + var(--preheader-height)
		);
	}
}

.header {
	&__inner {
		position: relative;
		display: flex;
		align-items: center;
		height: calc(var(--header-inner-height));
		border-bottom: max(1px, 0.0625rem) solid #d5dadc;
		padding-left: 0.75rem;
		@include smaller-than('mobile') {
			padding-left: 0;
		}
	}
}
