.table-of-contents {
	background: #f8f8f8;
	box-shadow: 0rem 3rem 7.1063rem -3rem rgba(21, 34, 54, 0.05);
	border-radius: 1rem;
	padding: var(--size-1-5);
	overflow: hidden;
	max-height: 25.3125rem;
	&__list {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		transition: transform 0.3s ease-in-out;
	}
	&__item {
		color: #636a75;
		&._active {
			color: #152236;
			text-decoration: underline;
		}
	}

	&__item-link {
		font-weight: 500;
		font-size: var(--size-1-125);
		line-height: 132%;
		letter-spacing: -0.01em;
		text-transform: capitalize;
		text-decoration: none;
		transition: color 0.2s ease-in-out;
		&:hover {
			color: #152236;
		}
	}
}
