$fluid-container-max-width: 120rem;
$slim-container-width: 81.5rem;
$container-width: 98rem;
$extra-slim-container-width: 73.5rem;
$container-padding: 1rem;

.container-fluid {
	width: 100%;
	max-width: min(
		$fluid-container-max-width,
		calc(100% - #{$container-padding * 2})
	);
	margin-left: auto;
	margin-right: auto;
	&.no-side-padding {
		padding-left: 0;
		padding-right: 0;
	}
	@media (max-width: $tablet-width) {
		&.no-mw-padding {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.container {
	width: 100%;
	max-width: $container-width;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: calc($container-width + 5rem * 2)) {
	.container {
		max-width: calc(100% - 5rem * 2);
	}
}

@media (max-width: $middle-desktop-width) {
	.container {
		max-width: calc(100% - 4rem * 2);
	}
}
@media (max-width: $small-desktop-width) {
	.container {
		max-width: calc(100% - 3rem * 2);
	}
}
@media (max-width: $tablet-width) {
	.container {
		max-width: calc(100% - 2rem * 2);
	}
	.container-tw-drop {
		max-width: 100% !important;
	}
}
@media (max-width: $mobile-width) {
	.container {
		max-width: calc(100% - 1rem * 2);
	}
	.container-mw-drop {
		max-width: 100% !important;
	}
}

.slim-container {
	width: 100%;
	max-width: $slim-container-width;
	margin-left: auto;
	margin-right: auto;
}
@media (max-width: calc($slim-container-width + 5rem * 2)) {
	.slim-container {
		max-width: calc(100% - 4rem * 2);
	}
}
@media (max-width: calc($slim-container-width * 0.7)) {
	.slim-container {
		max-width: calc(100% - 2rem * 2);
	}
}
@media (max-width: $mobile-width) {
	.slim-container {
		max-width: calc(100% - $container-padding * 2);
	}
}

.extra-slim-container {
	width: 100%;
	max-width: $extra-slim-container-width;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: calc($extra-slim-container-width + $container-padding * 2)) {
	.extra-slim-container {
		max-width: calc(100% - $container-padding * 2);
	}
}
