@mixin layout-alignment-classes($breakpoint: '') {
	@if $breakpoint != '' {
		$breakpoint: -#{$breakpoint};
	}

	.align#{$breakpoint}-center {
		align-items: center;
	}
	.align#{$breakpoint}-self-center {
		align-self: center;
	}
	.align#{$breakpoint}-start {
		align-items: start;
	}
	.align#{$breakpoint}-self-start {
		align-self: start;
	}
	.align#{$breakpoint}-end {
		align-items: end;
	}
	.align#{$breakpoint}-self-end {
		align-self: end;
	}
	.align#{$breakpoint}-baseline {
		align-items: baseline;
	}
	.align#{$breakpoint}-stretch {
		align-items: stretch;
	}

	.justify#{$breakpoint}-center {
		justify-content: center;
	}
	.justify#{$breakpoint}-self-center {
		justify-self: center;
	}
	.justify#{$breakpoint}-start {
		justify-content: start;
	}
	.justify#{$breakpoint}-self-start {
		justify-self: start;
	}
	.justify#{$breakpoint}-end {
		justify-content: end;
	}
	.justify#{$breakpoint}-self-end {
		justify-self: end;
	}
	.justify#{$breakpoint}-between {
		justify-content: space-between;
	}
	.justify#{$breakpoint}-around {
		justify-content: space-around;
	}
	.justify#{$breakpoint}-evenly {
		justify-content: space-evenly;
	}
}

@include layout-alignment-classes();

@each $breakpoint, $breakpointWidth in $breakpoints {
	@media (max-width: $breakpointWidth) {
		@include layout-alignment-classes($breakpoint);
	}
}
