$middle-desktop-width: 1568px;
$small-desktop-width: 1281px;
$tablet-width: 1080px;
$mobile-width: 620px;

$breakpoints: (
	'mdw': $middle-desktop-width,
	'sdw': $small-desktop-width,
	'tw': $tablet-width,
	'mw': $mobile-width
);

:root {
	--large-ui-component-height: 3.5rem;
}

$sizes: (
	'1': (
		1rem
	),
	'1-125': (
		1.125rem,
		1rem
	),
	'1-25': (
		1.25rem,
		1.125rem
	),
	'1-5': (
		1.5rem,
		1.25rem
	),
	'2': (
		2rem,
		1.5rem
	),
	'2-5': (
		2.5rem,
		2rem,
		1.75rem
	),
	'3': (
		3rem,
		2.5rem,
		2.25rem
	),
	'3-5': (
		3.5rem,
		3rem,
		2.75rem
	),
	'4': (
		4rem,
		3.5rem,
		3rem
	),
	'4-5': (
		4.5rem,
		4rem,
		3.125rem
	),
	'5': (
		5rem,
		4.5rem,
		3.5rem
	),
	'5-5': (
		5.5rem,
		5rem,
		3.85rem
	),
	'6-5': (
		6.5rem,
		5.5rem,
		4rem
	)
);

// .background-{key} => .background-white => background-color: #fff;
// .color-{key} => .color-white => color: #fff;
$colors: (
	'white': #fff,
	'black': #141d21
);
// global colors
:root {
	--color-white: #fff;
	--color-black: #000;
	--color-black-text: #121213;
	--color-light-grey: #f5f5f5;
	--color-semi-dark: #818181;
	--color-accent: #006075;
	--color-dark-grey: #2b2b2b;
}
