/*! purgecss start ignore */
.wp-block {
	max-width: unset;
}

@import './variables.scss';
@import './library/connector.scss';

.is-root-container.wp-block-post-content {
	&.dark-theme {
		background-color: var(--color-black);
		color: rgb(251, 249, 241);
	}
	&.light-theme {
		background-color: var(--color-light-grey);
		color: var(--color-black-text);
	}
	[data-type*='carbon-fields/'] {
		max-width: 100%;
		overflow: hidden;
		@import './ext/fonts.scss';
		@import './ext/html.scss';
		@import './ext/body.scss';
		@import './ext/scrollbar.scss';
		@import './ext/default-typography-styling.scss';
		@import './ext/swiper.scss';

		@import './wrappers/**/*.scss';
		@import './decorations/**/*.scss';

		.regular-text {
			width: 100%;
		}

		.reviews-slider {
			&__item {
				max-width: 400px;
			}
			&__swiper {
				width: auto;
				overflow: auto;
				padding: 0;
			}
		}
	}
}
.cf-block__fields {
	background: #fff;
}
@import '../components/**/*.scss';
.interface-complementary-area {
	width: 400px !important;
}
.edit-post-visual-editor .editor-styles-wrapper {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.edit-post-visual-editor__post-title-wrapper {
	padding-left: 1rem;
	padding-right: 1rem;
}
/*! purgecss end ignore */
