/*! purgecss start ignore */
.wp-block {
	max-width: unset;
}

@import './variables.scss';
@import './library/styling/sizes.scss';
@import './library/layouting/containers.scss';
.is-root-container {
	@import './ext/reset.scss';
}
.editor-styles-wrapper .wp-block-post-content {
	@import './library/layouting/margins.scss';
	@import './library/layouting/paddings.scss';
	@import './library/styling/alignments.scss';
	@import './library/layouting/containers.scss';
}

.wp-block-post-content {
	line-height: var(--main-line-height);
	font-family: var(--main-font-family);

	[data-type*='carbon-fields/'] {
		.cf-block__preview {
			min-height: 1rem;
			overflow: hidden;
		}
		max-width: calc(100% - 2rem);
		[data-type*='carbon-fields/'] {
			max-width: 100%;
		}
		overflow: hidden;
		@import './ext/fonts.scss';
		@import './ext/global-font-size.mixin.scss';
		@import './ext/html.scss';
		@import './ext/body.scss';
		@import './ext/scrollbar.scss';
		@import './ext/default-typography-styling.scss';
		@import './ext/swiper.scss';

		@import '../components/**/!(*.wp-admin).scss';
	}

	@import '../components/**/*.wp-admin.scss';

	.cf-field__body {
		border: 1px solid #ccc;
		& > * {
			width: 100%;
			max-width: unset;
		}
	}
	.wp-block .cf-block__fields {
		margin-bottom: 1rem;
		border-bottom: 1px solid #ccc;
	}
}

.cf-block__fields {
	background: #fff;
}

.interface-complementary-area__fill {
	width: 400px !important;
	.interface-complementary-area {
		width: 100% !important;
	}
}
.edit-post-visual-editor .editor-styles-wrapper {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.edit-post-visual-editor__post-title-wrapper {
	padding-left: 1rem;
	padding-right: 1rem;
}
/*! purgecss end ignore */
