/*! purgecss start ignore */
.wp-block {
	max-width: unset;
}

.is-root-container {
	/* Connect reset */
	// @import './ext/reset.scss';
}
.editor-styles-wrapper {
	/* Enable global font family */
	// font-family: 'Anderson Grotesk', sans-serif;

	[data-type*='carbon-fields/'] {
		.cf-block__preview {
			min-height: 1rem;
			overflow: hidden;
		}
		max-width: calc(100% - 2rem);
		[data-type*='carbon-fields/'] {
			max-width: calc(100%);
		}
		overflow: hidden;

		/* Connect all theme styles */
		// @import './variables.scss';
		// @import './ext/fonts.scss';
		// @import './ext/html.scss';
		// @import './ext/body.scss';
		// @import './ext/scrollbar.scss';
		// @import './ext/default-typography-styling.scss';
		// @import './ext/swiper.scss';

		// @import './library/connector.scss';

		// @import './wrappers/**/*.scss';

		.regular-text {
			width: 100%;
		}
	}

	/* Styles for blocks with inner_blocks */
	[data-type='carbon-fields/...'] {
		// max-width: min(
		// 	calc(100% - $container-padding * 2),
		// 	$container-fluid-max-width
		// );
		border: 1px solid var(--color-light-grey);
		padding: 1rem;
		border-radius: 4px;
		margin-bottom: 1rem;
		position: relative;
	}
	.cf-field__body {
		border: 1px solid var(--color-light-grey);
		& > * {
			width: 100%;
			max-width: unset;
		}
	}
	.wp-block .cf-block__fields {
		margin-bottom: 1rem;
		border-bottom: 1px solid var(--color-light-grey);
	}
	@import '../components/**/*.scss';
}
.cf-block__fields {
	background: #fff;
}

.interface-complementary-area {
	width: 400px !important;
}
.edit-post-visual-editor .editor-styles-wrapper {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.edit-post-visual-editor__post-title-wrapper {
	padding-left: 1rem;
	padding-right: 1rem;
}
/*! purgecss end ignore */
