.uppercase {
	text-transform: uppercase;
}
.underline {
	text-decoration: underline;
	&--on-hover {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
.capitalize {
	text-transform: capitalize;
}
.italic {
	font-style: italic;
}
